<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--Endpoints to be used for the mh API calls-->
    <add key="ApiEndPoints" value="{mhApi: 'https://api.maphive.local/'}"/>
    
    <!--App identifiers to pull the localisation for-->
    <add key="AppIdentifiers" value="mh,MasterOfPuppets"/>    


    <!--
      By default MapHive ExtJs sdk hardcodes api map in a centralised place: mh.mixin.ApiMap;
      this is to override its bits and pieces; the object should be the same as in the mh ExtJs class;
      it must deserialise to Dict<string, string> as it's sent out as an object;
      It is also possible to injects extra api map keys this way
    -->
    <!--<add key="ApiMap" value="{applications: 'GetApps.json', tokenValidation: 'ValidateToken.json'}"/>-->
  </appSettings>
  <system.webServer>
    <caching enabled="false"/>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <clear />

        <rule name="Org" stopProcessing="true">
          <match url="(^.*?)/?([@][A-Za-z0-9\-]*)/?(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="{R:1}/{R:3}?p1={R:2}" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>